.taipy-button {
   background-color: #000060;
   color: white;
   font-family: system-ui;
   font-style: bold;
   border-color: #ca494d;
   border-width: 2px;
   block-size: 75px;
   width: 200px;
}

.custom-button {
   background-color: #D3D3D3;
   color: white;
   font-family: system-ui;
   font-style: bold;
   border: none;
   block-size: 300px;
   width: 600px;
}

#switch-jar {
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
    left: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    bottom: 60px;
}

.header {
    font-style: underline;
    width: 100%;
}

.taipy-button:hover {
    color: grey;
}

#jar-preview {
   height: 300px;
   width: 600px;
   opacity: 1;
   display: block;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
}

.image {
  opacity: 1;
  display: block;
  height: 300px;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 28%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.side {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 60%;
  top: 45% !important;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 32px;
  padding: 16px 32px;
}